<h1>All Subs</h1>


<a href="<%= new_sub_url %>">New Sub</a>

<h3>List of subs</h3>
<% @subs.each do |sub| %>
  <ul>
    <li> <a href="<%= sub_url(sub) %>"> <%= sub.title %> </a></li>
  </ul>
<% end %>
